<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO Terminal</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h2>Command Terminal</h2>
    <input type="text" id="commandInput" placeholder="Enter command">
    <button onclick="sendCommand()">Run</button>
    <pre id="output"></pre>

    <script>
        const socket = io('http://localhost:5000');

        function sendCommand() {
            const command = document.getElementById('commandInput').value;
            socket.emit('run_command', { command: command });
        }
        
        // To make commandInput also to listen on socket
        // document.getElementById('commandInput').addEventListener('input', function() {
        //     const command = this.value;
        //     socket.emit('run_command', { command: command });
        // });

        socket.on('command_output', function(data) {
            document.getElementById('output').textContent += data.output + "\n";
        });
    </script>

<h2>Type below to update live.txt in real-time:</h2>
    <textarea id="textInput" placeholder="Type here..." rows="10" cols="50"></textarea>
    <script>
        // Listen for key presses and send the text to the server
        document.getElementById('textInput').addEventListener('input', function() {
            const text = this.value;
            socket.emit('text_input', { text: text });
        });

        // listen for confirmation from the server
        socket.on('file_updated', function(data) {
            console.log(data.message);
        });
    </script>

</body>
</html>
